/.vs/
/Library/
/Logs/
/obj/
/Temp/
*.csproj
/Assembly-CSharp.csproj
/HonorofKings.sln
/Sirenix.OdinInspector.CompatibilityLayer.Editor.csproj
/Sirenix.OdinInspector.CompatibilityLayer.csproj
/Unity.Notifications.Android.csproj
/Unity.Notifications.csproj
/Unity.Notifications.iOS.csproj
/OutBuild/
/MemoryCaptures/
/Ref/
/LuaAPI
/LuaScripts/AppLogic/Global/EmmyDebug/DebugConfig.lua
